
require 'rack'
require 'rack-slashenforce'
require 'lean'

Thread.new do Lean::ThreadWatch.new end

GC.enable

use Rack::RemoveTrailingSlashes
use Rack::Static, :urls => ["/css/","/img/","/js/","/favicon.ico"], :root => "../public"
run Lean
